.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: none;
}

.address {
  display: none;
}

.link-logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-top: 16px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-color);
}

.logo-studio-header {
  color: var(--link-title-color);
}

/* .header-links {
  display: block;
  padding-left: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--link-title-color);
}

.header-items:first-child {
  padding-top: 72px;
}

.header-links:hover,
.header-links:focus {
  color: var(--hover-color);
} */

/* .address-links,
.address-items {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/*======================MOBILE MENU===================*/

.mobile-menu-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.mobile-menu-icon {
  fill: var(--medium-black);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  padding: 72px 24px 40px 16px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}


/* ===========Відступ між навігацією та адресою в мобільному меню ============*/

.mobile-menu-address-container {
  margin-top: auto;
}

.mobile-address-list {
  margin-bottom: 48px;
}

.header-links {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--link-title-color);
}

.header-links:hover,
.header-links:focus {
  color: var(--hover-color);
}

.close-btn-menu {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--link-title-color);
}

.address-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.address-links {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current-color {
  color: var(--hover-color);
}

.menu-social-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.menu-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--icons-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-icons {
  fill: #f4f4fd;
}

.menu-social-links:hover,
.menu-social-links:focus {
  background-color: var(--hover-color);
}


/*===========TABLET=============*/

@media screen and (min-width: 768px) {
  .address-links,
  .address-items {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    color: var(--main-text-color);
  }
  .address {
    display: flex;
    color: var(--main-text-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration: none;
    flex-shrink: 0;
  }
  .header {
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    box-shadow: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .header-list {
    display: flex;
    margin-left: 120px;
    justify-content: flex-start;
    align-items: stretch;
    gap: 40px;
    text-decoration: none;
  }
  .mobile-menu-btn {
    display: none;
  }

  .header-items:first-child {
    padding-top: 0;
  }

  .header-links {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-title-color);
  }
}

/* .address-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
} */


/* .mobile-menu-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.mobile-menu-icon {
  fill: var(--medium-black);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transform: translateY(100%);
}

.mobile-menu.is-open {
  transform: translateY(0%);
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 168px;
  gap: 40px;
} */










/* .close-btn-menu {
  display: inline-flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--link-title-color);
}

.menu-social-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.menu-links-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--icons-color);
} */




/*======DESKTOP======*/

/* .header {
    margin: 0;
    background: var(--main-color);
    border-bottom: 1px solid var(--border-btn-cl);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  
  .header-nav {
    display: flex;
    align-items: center;
  }
  
  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-links {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-title-color);
  }
  
  .header-links:hover,
  .header-links:focus {
    color: var(--hover-color);
  }
  
  .current {
    position: relative;
    color: var(--hover-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .current::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 2px;
  }
  
  .current:hover::after,
  .current:active::after,
  .current:focus::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
  }
  
  .navigation {
    display: flex;
    align-items: center;
  }
  
  .address {
    margin-left: auto;
    font-style: normal;
  }
  
  .address-list {
    display: flex;
    gap: 40px;
  }
  
  .address-items {
  }
  
  .address-links {
    display: block;
    padding: 24px 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .address-list .address-links {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
  }
  
  .address-links:hover,
  .address-links:focus {
    color: var(--hover-color);
  }
   */






















/*=======ANALOGI=========*/

/* .header-items + .header-items {
    margin-left: 40px;
  } */

/* .header-items:last-child {
  margin-right: 0px;
 } */

/* .header-items::after {
  content: '';
  width: 48px;
  height: 4px;
  display: block;
  margin-right: 40px;
  border-radius: 2px;
  background-color: var(--hover-color);
  } */
