:root {
    --btn-color: #f4f4fd;
    --btn-text-color: #4d5ae5;
    --main-color: #ffffff;
    --link-title-color: #2e2f42;
    --main-text-color: #434455;
    --hover-color: #404bbf;
    --border-btn-cl: #e7e9fc;
    --icons-color: #4d5ae5;
    --grey-color: #8e8f99;
    --ocean-color: #31d0aa;
    --modal-color: #fcfcfc;
    --medium-black: #2F2F37;
  }