body {
    font-family: "Roboto", sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-color);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  p {
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  .list {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
  }
  